<div class="main-container">
    <div class="card text-center">
        <div class="card-body">
            <h1>Welcome to {{title}}</h1>
            <h3>Please Login Below</h3>
            <a href="/github/auth" class="btn btn-outline-light hvr-grow hvr-bounce-to-left">Log In</a>
        </div>
    </div>
</div>