h1 {
  text-align: center;
  font-size: 90px;
  color: red;
  font-weight: 900;
}

.Logo {
  float: left;
  min-height: 80vh !important;
  height: 80vh;
  margin-left: 4px;
  font-size: 30pt;
  font-weight: bolder;
  color: red;
  width: 48%;
  z-index: 400;
  background: transparent;
  border: none !important;
  outline: none;
}

.Logo:hover {
  background-color: yellow;
  cursor: pointer;
}

.Image {
  float: right;
  min-height: 80vh !important;
  height: 80vh;
  margin-right: 4px;
  font-size: 30pt;
  font-weight: bolder;
  color: red;
  width: 48%;
  z-index: 400;
  background: transparent;
  border: none !important;
  outline: none;
}

.Image:hover {
  background-color: blue;
  cursor: pointer;
}

.Delete {
  position: relative;
  float: right;
  width: 40%;
  height: inherit;
  z-index: 400;
  background: transparent;
  border: none !important;
  outline: none;
  font-size: 15pt;
  font-weight: bolder;
  
}

.Delete:hover {
  cursor:pointer;
  background-color: red;
}

.Undo {
  position: relative;
  float: left;
  width: 40%;
  height: inherit;
  z-index: 400;
  background: transparent;
  border: none !important;
  outline: none;
  color: red;
  font-size: 15pt;
  font-weight: bolder;
}

.Undo:hover {
  cursor:pointer;
  background-color: lightgreen;
}

.row2 {
  width: 100%;
  min-height: 20vh;
  height: 20vh;
  bottom: 0px;
  display: inline-block;
  opacity: 0.5;
}

/*.top {
  min-height: 80vh !important;
  height: 80vh;
  opacity: 0.5;
}*/





