.leftbutton {
    float: left;
    width: 10%;
    height: 250px;
    margin-left: 25px;
    margin-top: 150px;
    font-size: 18pt;
}
.leftbutton:hover {
    background-color:slategray;
    cursor: pointer;
}

.rightbutton {
    float: right;
    width: 10%;
    height: 250px;
    margin-right: 25px;
    margin-top: 150px;
    font-size: 18pt;
}
.rightbutton:hover {
    background-color:slategray;
    cursor: pointer;
}

.undo {
    width: 50px;
    height: 40px;
    position: relative;
}
.delete {
    width: 50px;
    height: 40px;
}

.undo:hover {
    cursor:pointer;
}
.delete:hover {
    cursor:pointer;
}


